name: Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Tap this repo
        run: brew tap --force rsanheim/tap ${{ github.workspace }}

      - name: Run brew audit
        run: brew audit --strict rsanheim/tap/fit

      - name: Run brew style
        run: brew style rsanheim/tap/fit
