name: Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Run brew audit
        run: brew audit --strict rsanheim/tap/git-all

      - name: Run brew style
        run: brew style rsanheim/tap/git-all
